<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 14</title>
    <link rel="stylesheet" type="text/css" href="accueil.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="static/top14.png" alt="Top 14 Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#" class="gold-text">BILLETERIE</a></li>
                <li><a href="#" class="gold-text">PRONOSTICS</a></li>
                <li><a href="#" class="gold-text">STATISTIQUES</a></li>
                <li><a href="#" class="gold-text">EQUIPES</a></li>
                <li><a href="#" class="gold-text">MON COMPTE</a></li>
            </ul>
        </nav>
        <a href="/inscription" class="connect-button move-right">SE CONNECTER</a>
    </header>
    <main>
        <div class="main-content">
            <h1>Découvrez nos équipes :</h1>
            <aside class="teams-container">
                <section class="teams">
                    <div class="team">
                        <img src="static/Logos_Equipes/logo_clermont.png" alt="Clermont Logo">
                        <h3>ASM Clermont</h3>
                    </div>
                    <div class="team">
                        <img src="static/Logos_Equipes/logo_bayonne.svg" alt="Bayonne Logo">
                        <h3>Aviron Bayonnais</h3>
                    </div>
                    <div class="team">
                        <img src="static/Logos_Equipes/logo_castres.png" alt="Castres Logo">
                        <h3>Castres Olympique</h3>
                    </div>
                    <div class="team">
                        <img src="static/Logos_Equipes/logo_lyon.png" alt="Lyon Logo">
                        <h3>Lyon OU</h3>
                    </div>
                    <div class="team">
                        <img src="static/Logos_Equipes/logo_montpellier.png" alt="Montpellier Logo">
                        <h3>Montpellier HR</h3>
                    </div>
                    <div class="team">
                        <img src="static/Logos_Equipes/logo_racing.png" alt="Racing Logo">
                        <h3>Racing 92</h3>
                    </div> 
                    <div class="team">
                        <img src="static/Logos_Equipes/logo_toulon.png" alt="Toulon Logo">
                        <h3>RC Toulon</h3>
                    </div>
                    <div class="team">
                        <img src="static/Logos_Equipes/logo_vannes.png" alt="Vannes Logo">
                        <h3>RC Vannes</h3>
                    </div>
                    <div class="team">
                        <img src="static/Logos_Equipes/logo_section.svg" alt="Section Logo">
                        <h3>Section Paloise</h3>
                    </div>
                    <div class="team">
                        <img src="static/Logos_Equipes/logo_stade_francais.png" alt="Stade Français Logo">
                        <h3>Stade Français</h3>
                    </div>
                    <div class="team">
                        <img src="static/Logos_Equipes/logo_stade_rochelais.png" alt="Stade Rochelais Logo">
                        <h3>Stade Rochelais</h3>
                    </div>
                    <div class="team">
                        <img src="static/Logos_Equipes/logo_stade_toulousain.svg" alt="Stade Toulousain Logo">
                        <h3>Stade Toulousain</h3>
                    </div>
                    <div class="team">
                        <img src="static/Logos_Equipes/logo_bordeaux.png" alt="Bordeaux Logo">
                        <h3>Union Bordeaux-Bègles</h3>
                    </div>
                    <div class="team">
                        <img src="static/Logos_Equipes/logo_perpignan.svg" alt="Perpignan Logo">
                        <h3>USA Perpignan</h3>
                    </div>
                </section>
            </aside>
        </main>
        <footer>
            <p>&copy; 2023 Top 14. Tous droits réservés.</p>
        </footer>
</body>
</html>